<style>
  .content {
    width: 100%; text-align: center;
  }

  table {
    width: 70%;
    height: 700px;
    display: inline-block;
    overflow:auto;
   }

  td {
    text-align: left;
  }

  a:link {
    color: purple;
  }

  a:visited {
    color: blue;
  }
  a:hover {
    color: red;
  }

</style>

<div class="content" role="main">
<h1> GitHub Username </h1>
<input type="text" [(ngModel)]="username" placeholder="Username">
<button (click)="submit()" [disabled]="!username" style="margin-left: 10px;">Submit</button>
</div>
<br>

  <div style="text-align: center;">
  <table border='1' style="width: 20%;">
      <tr style="height: 50px;">
          <th style="width: 1%">Project Repository</th>
      </tr>
      <tr *ngFor='let project of projects | paginate: { itemsPerPage: 40, currentPage: p }'>
        <td style="height: 20px">
          <a href="#" (click)="selectProject(project.name)">{{ project.name }}</a>
        </td>
      </tr>

  </table>

  <table border="1" style="width: 50%;">
      <tr style="height: 50px;">
        <th style="width: 1%">README</th>
      </tr>
      <tr>
        <td *ngIf="myHTML"> <markdown [data]="myHTML"></markdown> </td>
      </tr>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
  <span *ngIf="count"> Total: {{ count }} Repositories </span>
  </div>

  <router-outlet></router-outlet>

